{% extends 'events/base.html' %}

{% block content %}

<center>

 <br>
 
</center>


<div class="card">
    <div class="card-header">
        Venue
    </div>
    <div class="card-body">
      <h5 class="card-title">{{venue }}</h5>
      <p class="card-text">
       
            {{ venue.address }} <br>
 {{ venue.zip_code }} <br>
 {{ venue.phone }} <br>
 <a href="{{ venue.web }}">{{ venue.web }}</a> <br>
 {{ venue.email_address }} <br>

 Owner: {{ venue_owner|title }}   
 <!-- Capitalize first letter --> <br>
 Owner's Email: {{ venue_owner.email }}   
 
        
        
            

      </p>
    
    </div>
  </div>
  <br>


{% endblock %}
